body{
	margin: 0;
	padding: 0;
	background: #56B3E3;
	background-size: cover;
	background-repeat: no-repeat;

}

*{
	font-family: 'Segoe UI', Lato, sans-serif;
}

.set-timer{
	max-width: 300px;
	min-width: 150px;
	background: rgba(0,0,0,0.4);
	border: 1px #fff solid;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: all;
	transition: opacity 1s ease;
}

.set-timer input{
	background: rgba(255, 255, 255, 0.5);
	padding: 5px;
	border: 2px #fff solid;
	border-radius: 5px;
	color: #fff;
}

.set-timer label{
	color: #fff;
	font-weight: bold;

}

.fadeOut{
	opacity: 0;
	pointer-events: none;
}

.title{
	opacity: 0.3;
	width: 90%;
	margin: 20px auto 0;
	background: #353535;
	border-radius: 6px;
	font-size: 40px;
	font-weight: bold;
	color: #fff;
	transition: opacity 1s ease;
}

.title:hover{
	opacity: 1;
}

.timer{
	opacity: 0;
	pointer-events: none;
	background: rgba(0,0,0,0.2);
	border: 2px #fff solid;
	border-radius: 10px;
	float: right;
	font-size: 30px;
	color: #fff;
	transition: opacity 1s ease 1s; 
}


.grey{
	background: #454545;
	color: #fff;
}

footer{
	width: 100%;
	background: #252525;
	position: absolute;
	top: 90vh;
	color: #fff;
}

footer div{
	padding: 20px 0 20px 10px;
}

label[for="music"] {
	padding: 0 5px;
	border: 1px #fff solid;
	border-radius: 4px;
	margin-left: 20px;
}

input#music{
	display: none;
}

label > i{
	color: #fff;
}